


  <div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-3">
    <!--部分テンプレート-->
    <%= render "users/userinfo", user: current_user %>



  <div class="col-md-8 offset-md-1">
     <h2>Books</h2>
    <table class="table table-hover table-inverse">
     <thead>
      <tr>
       <th></th>
       <th>Title</th>
       <th>Opinion</th>
       <th colspan="3"></th>
      </tr>
     </thead>

     <% @books.each do |book| %>
     <tbody>
      <tr>
        <td>
          <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg">
        </td>
        <td><span><%= book.title %></span></td>
        <td><span><%= book.body %></span></td>
      </tr>
     </tbody>
     <% end %>
    </table>
  </div>


